# build output
dist/
build/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.local

# macOS
.DS_Store

# Astro
.astro/

# Netlify
.netlify/

# Vercel
.vercel/

# IDE
.vscode/
.idea/

# temp
temp_images/

